.DS_Store
node_modules
/dist
/public/sitemap.xml
/public/robots.txt
work/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python files
__pycache__/
*.py[cod]
*$py.class